<div class="thirdwebtokengate"></div>

{% schema %}
{
  "name": "Token Gate",
  "settings": [
    {
      "type": "text",
      "id": "contractAddress",
      "label": "Contract Address",
      "default": "0x72B2D0c6Eab55028463037a5Bb22A58810105355"
    }
  ],
  "presets": [
    {
      "category": "React Components",
      "name": "Token Gate"
    }
  ]
}
{% endschema %}
